--------------------------------------------------------------------------------
    > > > > > > : This system is being managed by Ansible.
--------------------------------------------------------------------------------
    OS          : {{ ansible_distribution }} {{ ansible_distribution_version }}
    Hostname    : {{ ansible_hostname }}
    IP address  : {{ ansible_default_ipv4.address }}
    System type : {{ ansible_system }}

    NOTICE      : DO NOT MAKE ANY CHANGES TO THIS SYSTEM MANUALLY!
                  Please notify someone who can update Ansible for any changes.
                  Failure to do this will result in your account being banned!
--------------------------------------------------------------------------------
